            <footer class="text-center text-black w-full my-4 py-4 bg-gray-300 xl:text-base">
                <!-- Forward the files to this group 👉<a href="https://t.me/p_telprabha" style="text-decoration: underline overline dotted blue;color:blue;" target="_blank"> Telprabha Public </a>and Download Here..👆
                <p>🚫 Don't Share Advertisement ⚠️ & If You do, I 🖕 you 🚫</p> -->
                <span style="font-size:12px;">Developed by <span style="color: blue;">Prabakar</span>, Full Stack Developer</span>
            </footer>
            
        </div>
        
    </body>
</html>
